* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* songs */
body {
    font-family: "Roboto Slab", Arial;
    background-color: #FFF7DC;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 400px;
    width: 80%;
    height: 350px;
    margin: 0 10px;
    background-color: #FFE37D;
    box-shadow: 0 1px 10px gray;
    padding: 10px;
    border-radius: 5px;
}

.logo {
    background-color: #FFF7DC;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.logo i {
    font-size: 100px;
    color: #FFD22F;
}

#musicName {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.controls button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.controls i {
    display: flex;
    font-size: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: #FFD22F;
    transition: all .2s;
}

.controls i:hover {
    background-color: lightgray;
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time span {
    font-size: 15px;
    color: #333;
}

.footer {
    width: 100%;
}

.progress-bar {
    height: 6px;
    background-color: #FFD22F;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}

.progress {
    height: 6px;
    background-color: #333;
    border-radius: 5px;
}

/* pictures */
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem auto;
}


.carrosel {
    filter: drop-shadow(0px 0px 10px #000);
    overflow: hidden;
    height: 400px;
    width: 280px;
}

.sub-container {
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}

img {
    width: 280px;
    height: auto;
    border-radius: 5px;
}

/* compare time */
.show-time {
    margin: .5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.date {
    background-color: #FFD22F;
    padding: 0 .2rem;
    border-radius: 3px;
}